<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}
        {% endblock %}
        <title>{% block title %}{% endblock %} - Vote Certo</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navigation %}{% endblock %}
        {% block container %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
